<%- include header %>
<form method="post">
   <% if(errorcode!=''){%>
    <div class="alert alert-error"><%=errorcode%></div>
	<%}%>
	<strong>用 户 名：</strong><input style="margin-left:40px"; type="text" name="user" value=<%=user.name%> disabled="disabled"/><br />
	<strong>新 密 码：</strong><input style="margin-left:40px"; type="password" name="password1" required/><br />
	<strong>确认密码：</strong><input style="margin-left:30px"; type="password" name="password2" required/><br />	
	<p></p>
	<input type="submit" style="margin-left:200px"; class="btn btn-primary"  value="修改"/>
    <input type="button"  style="margin-left:10px"; 
	class="btn" value="返回"
	onclick="javascript:history.go(-1)";/>
</form>
<%- include footer %>