 	 
	  </div>
	 <div class="span2" >
	    <div class="RoundedCorner" ><b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b> 
	 <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       网站简介：
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        这是Syyok用NodeJS制作的微博系统，该系统可以实现发状态和上传图片功能。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
       好友添加方法：
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
       好友添加方法为点击作者的名字，进入对方的主页后点击添加好友按钮，在主页的friends上就可以看到他的名字了。点击他的名字就可以和他聊天了，速速行动吧！！！
      </div>
    </div>
  </div>
</div>
	  <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b></div>
	
	</div>
	 <div class="span1"></div>
	</div>
	<div class="container">
            <footer class="footer">
            <p class="pull-right"><a href="#">返回顶部</a></p>
            <p>版权声明： <a href="http://creativecommons.org/licenses/by/3.0/">By SYYOK Version:3.0</a>.</p>
            </footer>
        </div>
		
 </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>
