<%- include header %>
<form method="post">
<Strong>用户名：</Strong><input type="text" name="username"style="margin-left:30px" required/><br />
<Strong>密码：</Strong><input type="password" name="password"style="margin-left:40px" required/><br />
			<input type="submit" value="登录"/>
</form>
<%- include footer %>